
/*=========== header et nav pour les connectés ===============*/

#headerConnect{
    margin-bottom: 1%;
}

#bandeLogo{
    background-color: #3c3c3c;
    padding: 1%;
}

#logoSFB{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#navigation{
    border-bottom: solid #3c3c3c 2px;
    padding: 1%;
}

#navigation a{
    padding: 1px;
    display: block;
    text-align:center;
    text-decoration: none;
    font-size: 18px;
}

#navigation a:visited, #navigation a:link{
    color: #3c3c3c;
}

#navigation a:hover{
    color: rgba(255,255,255, 0);
    transition: 0.3s;
    text-shadow: 0px -3px #000000;
}

#liste{
    list-style: none;
    display : flex;
    flex-direction: row;
    justify-content: center;
}

#liste li{
    position:relative;
    margin: 0px 10px;
}


/*============== Connection ==============*/

.titre{
    color: #3c3c3c;
    font-size: 20px;
}

.carte{
    text-align: center;
    width:25%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 1%;
}

.intxt{
    margin-bottom: 20px;
}

.validationBouton{
    background-color: #2fa68e;
    border-radius: 25px;
    font-size:18px;
    font-weight: bold;
}



/*========= TITRE ET AUTRES ===============*/

#corps{
    /* voir dans footer.inc.php */

}

.containerUser{
    height: 500px;
}

.titre1 {
    width:50%;
    text-align: center;
    font-size: 28px;
    margin: 1% auto 2% auto;
    color: #3c3c3c;
}

.message{
    color: #3c3c3c;
    margin-left: 2%;
}

.formulaire{
    text-align: center;
    width:25%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 1%;
}

.formulaire label{
    color: #3c3c3c;
}

#corps p{
    font-size: 18px;
}


/*========= AMIS ============*/

#rechercheAmi{
    width: 12%;
    float: right;
    border-radius: 10px;
    background-color: #3c3c3c;
    margin-right: 1%;
    padding: 5px;
    text-align: center;
}

#rechercheAmi a{
    text-decoration: none;
    font-size: 20px;
    color: #f0f0f0;
}

#listeAmis{
    margin-left: 5%;
    z-index: 10;
}

#tableAmi th{
    font-weight: bold;
    padding: 5%;
    margin: 1%;
}

#tableAmi td{
    padding: 5%;
    text-align: center;
    margin: 1%;
}

#tableAmi{
    margin-bottom: 2%;
}

#tableAmi tr{
    border-bottom: solid black 2px;
}

.deleteB{
    text-decoration: none;
    margin: 5px;
    background-color: #b13d3d;
    padding: 3px;
    border-radius: 20px;
    color: #f0f0f0;
}


/*============ PROFILS ==============*/

#profil{
    width:90%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#profil h3{
    font-size: 24px;

}

#droite, #milieu, #gauche{
    border-radius: 15px;
    padding: 1%;
    width: 26%;
    text-align: center;
}

#droite{
    background-color: steelblue;
}

.bandeAmi{
    width: 60%;
    margin: 0px auto;
    padding:5px;
    word-spacing: 4px;
}

#milieu{
    background-color: #b13d3d;
}

#milieu table{
    margin: 0 auto;
}

#milieu td{
    font-size: 18px;
    color: #f0f0f0;
    text-align: left;
    padding-bottom: 7%;
}



#gauche{
    background-color: darkgreen;
}















