/*=========== header et nav pour les connectés ===============*/
html{
    background: rgb(23,8,54);
    background: radial-gradient(circle, rgba(23,8,54,1) 11%, rgba(33,20,149,1) 100%, rgba(0,212,255,1) 100%);
}

h1,h2{
    padding-top: 1%;
    color: white;
    text-align: center;
}

h2{
    font-size: 20px;
}
#bandeLogo{
    background-color: #3c3c3c;
    padding: 1%;
}

#logoSFB{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#navigation{
    border-bottom: solid #3c3c3c 2px;
    padding: 1%;
    background-color: black;
}

#navigation a{
    padding: 1px;
    display: block;
    text-align:center;
    text-decoration: none;
    font-size: 18px;
}

#navigation a:visited, #navigation a:link{
    color: white;
}

#navigation a:hover{
    color: rgba(255,255,255, 0);
    transition: 0.1s;
    text-shadow: 0 -5px #000000;
}

#liste{
    list-style: none;
    display : flex;
    flex-direction: row;
    justify-content: center;
}

#liste li{
    position:relative;
    margin: 0 25px;
}


/*============== Connexion ==============*/

.titre{
    font-size: 20px;
}

.carte{
    text-align: center;
    width:25%;
    margin: 2% auto 8% auto;

    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 1%;
}

.intxt{
    margin-bottom: 20px;
}

.validationBouton{
    background: rgb(23,8,54);
    background: radial-gradient(circle, rgba(23,8,54,1) 11%, rgba(33,20,149,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    border-radius: 25px;
    font-size:18px;
    font-weight: bold;
}



/*========= TITRE ET AUTRES ===============*/

#corps{
    /* voir dans footer.inc.php */

}

.containerUser{
    height: 500px;
}

.titre1 {
    width:50%;
    text-align: center;
    font-size: 28px;
    margin: 1% auto 2% auto;
    color: white;
}

.message{
    color: #f0f0f0;
    font-size: 18px;
    text-align: center;
    margin-left: 2%;
}

.formulaire{
    text-align: center;
    width:25%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 2%;
}

.formulaire label{
    color: #3c3c3c;
}

#corps p{
    font-size: 18px;
}

.jeux{
    margin-top: 3%;
    margin-bottom: -4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jeux img {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.jeux h2{
    margin-left: 2%;
    font-size: 24px;
}
/*========= AMIS ============*/

#rechercheAmi{
    width: 12%;
    float: right;
    border-radius: 10px;
    background-color: #3c3c3c;
    margin-right: 1%;
    padding: 5px;
    text-align: center;
    color: white;
}

#rechercheAmi a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#listeAmis{
    margin-left: 5%;
    z-index: 10;
    color: white;

}

#tableAmi th{
    font-weight: bold;
    padding: 5%;
    margin: 1%;
}

#tableAmi td{
    padding: 5%;
    text-align: center;
    margin: 1%;
}

#tableAmi{
    width: 35%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

#tableAmi tr{
    border-bottom: solid black 2px;
}

.deleteB{
    text-decoration: none;
    margin: 5px;
    background-color: #b13d3d;
    padding: 17px 3px;
    border-radius: 20px;
    color: #f0f0f0;
}

.tchatB{
    text-decoration: none;
    width: 75px;
    height: 50px;
    background-color: greenyellow;
    border-radius: 20px;
    color: #000000;
}

/*============ PROFILS ==============*/

.profile-margin{
    position:relative;
    width:900px;
    overflow:hidden;
    margin:0 auto;
}

#profil{
    width:90%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#profil h3{
    font-size: 24px;
}

#droite, #milieu, #gauche{
    border-radius: 15px;
    padding: 1%;
    width: 26%;
    text-align: center;
}

#droite{
    background-color: steelblue;
}

.bandeAmi{
    width: 60%;
    margin: 0 auto;
    padding:5px;
    word-spacing: 4px;
}

#milieu{
    background-color: #b13d3d;
}

.tableArrange{
    color: white;
    margin: 0 auto;
}

.tableArrange  input::placeholder{
    color: #3c3c3c;
    font-weight: bold;
    font-size: 18px;
}

.tableArrange td{
    border-style:solid;
    font-size: 18px;
    color: #f0f0f0;
    text-align: left;
    padding-bottom: 7%;
}

#gauche{
    background-color: darkgreen;
}

.formulaire td{
    color: #3c3c3c;
}

.textin{
    color: #3c3c3c;
    font-weight: bold;
    font-size: 18px;
}


/*================ GROUPE ==================*/

#groupe{
    width:90%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#groupe h3{
    font-size: 24px;
    margin-bottom: 1%;
    color: #f0f0f0;
}

#vosGroupes{
    width:20%;
    border: solid #3c3c3c 3px;
    border-radius: 5px;
    text-align: center;
}

#vosGroupes td{
    color: #f0f0f0;
    padding: 5px;
}

#vosGroupes a{
    border-radius: 10px;
    background-color: darkorange;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #f0f0f0;
}

#vosGroupes table{
    margin-bottom: 5%;
}

#rechercherGroupe{
    width:50%;border: solid #3c3c3c 3px;
}

#actionsGroupe{
    width: 20%;
    text-align: center;
}

#actionsGroupe a{
    float:right;
    border-radius: 10px;
    background-color: #3c3c3c;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #f0f0f0;
}

/*================ Tchat ==================*/

.tchat{
    width: 60%;
    padding: 15px 40px 15px 15px;
    margin: auto auto 20px;
    border-radius: 5px;
    background-color: #999999;
}

.tchat form{
    display: inline-flex;
    width: 103%;
}

.tchat form textarea{
    align-self: center;
    width: 80%;
    height: 25%;
}

.tchat form label{
    padding-right: 10px;
    font-size: 18px;
    color: white;
    align-self: center;
    justify-self: center;
}

.messageB{
    align-self: center;
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
}

.tchat .container {
    position: relative;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.darker p{
    float: right;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.tchat .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container p{
    color: black;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

/*================ AFFICHER JEU ==================*/

#afficherJeu .valid{
    color: green;
    font-weight: 700;
    font-size: 18px;
    margin-left: 40%;
}

#afficherJeu .tableArrange{
    background-color: rgba(0, 0, 255, 0.2);
    border-color: #f0f0f0;
    border-width: 3px;
    border-style: solid;
    width: 50%;
    margin-bottom: 2%;
}

#afficherJeu .tableArrange th{
    height: 30px;
}

#afficherJeu .tableArrange td{
    padding: 2%;
    vertical-align: middle;
}

#afficherJeu .tableArrange .jeux{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}

#afficherJeu .tableArrange .jeux p{
    margin: 10px 10px;
    font-weight: bolder;
}

#afficherJeu .tableArrange input[type=number]{
    width: 25%;
    min-width: 50px;
    max-width: 180px;
}

#afficherJeu .tableArrange td:last-child{
    min-width: 150px;
}

#afficherJeuNonPossedes .tableArrange{
    background-color: rgba(0, 0, 255, 0.2);
    border-color: #f0f0f0;
    border-width: 3px;
    border-style: solid;
    width: 70%;
    margin-bottom: 2%;
}

#afficherJeuNonPossedes .tableArrange th{
    height: 30px;
}

#afficherJeuNonPossedes .tableArrange td{
    padding: 3%;
    vertical-align: middle;
}

#afficherJeuNonPossedes .tableArrange .jeux{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}

#afficherJeuNonPossedes .tableArrange .jeux p{
    margin: 10px 10px;
}

#afficherJeuNonPossedes .tableArrange input[type=number]{
    width: 25%;
    min-width: 50px;
    max-width: 180px;
}

#afficherJeuNonPossedes .tableArrange td:first-child p{
    font-weight: 700;
}

#afficherJeuNonPossedes .tableArrange td:last-child, #afficherJeuNonPossedes .tableArrange td:nth-child(2){
    min-width: 150px;
}

#afficherJeuNonPossedes .tableArrange td:nth-child(3){
    min-width: 75px;
}

/*================ ADMIN ==================*/

#admin h2{
    padding-bottom: 30px;
}

#admin img{
    width: 64px;
    height: 64px;
}

#admin .tableArrange{
    background-color: rgba(0, 0, 255, 0.2);
    border-color: #f0f0f0;
    border-width: 3px;
    border-style: solid;
    width: 70%;
    margin-bottom: 2%;
}

#admin td, #admin th{
    padding: 5px;
    padding-bottom: 30px;
    text-align: center;
    vertical-align: middle;
}

#admin tr{
    vertical-align: center;
}
#admin .deleteB{
    width: 120px;
    height: 40px;
    padding: 0;
    text-decoration: none;
    background-color: #b13d3d;
    border-radius: 20px;
    color: #f0f0f0;
}

#admin .valid{
    color: green;
    font-weight: 700;
    font-size: 18px;
    margin-left: 40%;
}