
/*=========== header et nav pour les connectés ===============*/

#headerConnect{
    margin-bottom: 1%;
}

#bandeLogo{
    background-color: #3c3c3c;
    padding: 1%;
}

#logoSFB{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#navigation{
    border-bottom: solid #3c3c3c 2px;
    padding: 1%;
}

#navigation a{
    padding: 1px;
    display: block;
    text-align:center;
    text-decoration: none;
    font-size: 18px;
}

#navigation a:visited, #navigation a:link{
    color: #3c3c3c;
}

#navigation a:hover{
    color: rgba(255,255,255, 0);
    transition: 0.3s;
    text-shadow: 0px -3px #000000;
}

#liste{
    list-style: none;
    display : flex;
    flex-direction: row;
    justify-content: center;
}

#liste li{
    position:relative;
    margin: 0px 10px;
}


/*============== Connection ==============*/

.titre{
    color: #3c3c3c;
    font-size: 20px;
}

.carte{
    text-align: center;
    width:25%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 1%;
}

.intxt{
    margin-bottom: 20px;
}

.validationBouton{
    background-color: #2fa68e;
    border-radius: 25px;
}



/*========= TITRE ET AUTRES ===============*/

.titre1 {
    width:50%;
    text-align: center;
    font-size: 28px;
    margin: 1% auto 2% auto;
    color: #3c3c3c;
}

.message{
    color: #3c3c3c;
}

.formulaire{
    text-align: center;
    width:25%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 1%;
}

.formulaire label{
    color: #3c3c3c;
}


/*========= AMIS ============*/

#rechercheAmi{
    width: 12%;
    float: right;
    border-radius: 10px;
    background-color: #3c3c3c;
    margin-right: 1%;
    padding: 5px;
    text-align: center;
}

#rechercheAmi a{
    text-decoration: none;
    font-size: 20px;
    color: #f0f0f0;
}

#listeAmis{
    margin-left: 5%;
}

#tableAmi td{
    padding: 5%;
    text-align: center;
    margin: 1%;
}

#tableAmi{
    margin-bottom: 2%;
}

#tableAmi tr{
    border-bottom: solid black 2px;
}


















